*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

:root {
  --color-primary: #fbe5d0;
  --color-secondary: #fbecef;
  --color-accent: #ffbb24;
  --color-nav: #f8d8c7;
  --headings-color: #597387;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-secondary);
}

/* Navbar */

a {
  text-decoration: none;
  color: #000000;
  letter-spacing: 1px;
}

.nav__links a:hover {
  color: #ff0000;
}

.navbar {
  display: flex;
  background-color: var(--color-nav);
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
}

.navbar img {
  margin-top: 0.5rem;
  width: 100%;
  max-width: 80px;
}

.nav__links {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

.nav__links li {
  list-style: none;
  font-size: 1.4rem;
  font-weight: 500;
}

.account {
  color: var(--headings-color);
}

.login {
  background-color: var(--color-accent);
  border-radius: 32px;
  padding: 1rem 2rem;
  color: #000000;
  box-shadow: 0 5px 5px #dbd7d7;
}

.signup {
  border: 2px solid var(--color-accent);
  border-radius: 32px;
  padding: 1rem 2rem;
  color: #000000;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line1 {
  width: 25px;
  height: 3px;
  background-color: var(--headings-color);
  margin: 5px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.hamburger .line2 {
  width: 16px;
  height: 3px;
  background-color: var(--headings-color);
  margin: 5px;
  border-radius: 2px;
  transition: 0.3s ease;
}

.hamburger .line3 {
  width: 8px;
  height: 3px;
  background-color: var(--headings-color);
  margin: 5px;
  border-radius: 2px;
  transition: 0.3s ease;
}

.toggle .line1 {
  width: 25px;
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  width: 25px;
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 768px) {
  body {
    background-color: var(--color-secondary);
    overflow-x: hidden;
  }

  .nav__links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: var(--color-nav);
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 500ms ease-in;
    padding: 2em 7em 10em 7em;
    z-index: 5;
  }

  .empty-list {
    display: none;
  }

  .nav__links li {
    opacity: 0;
  }

  .navbar .hamburger {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .display-off {
    display: none;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

/* Main Body */

h2 {
  color: var(--color-accent);
  display: inline-block;
  font-size: 4rem;
}

h4 {
  display: inline-block;
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
  margin-left: 1em;
}

textarea:focus,
input:focus {
  outline: none;
}

main {
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
}

.main__content {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.header__content {
  margin: 1rem 1rem 4rem 1rem;
  justify-self: center;
  align-self: center;
}

.main__image {
  flex: 1;
}

.featured-image {
  width: 100%;
  object-fit: cover;
  height: 40vh;
  opacity: 1;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border: 1px solid #ffffff;
  padding: 1em 1em 1em 1em;
  margin: 1em 1em;
  box-shadow: 0px 8px 10px #dbd7d7;
  background-color: #ffffff;
  min-width: 90%;
  z-index: 2;
}

.main__input {
  display: inline-block;
  border-radius: 0;
  border: 0;
  min-width: 80%;
  font-size: 1.6rem;
  flex-grow: 1;
}

.input__icon {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  cursor: pointer;
}

.search-icon {
  margin-right: 1rem;
}

.main__input::placeholder {
  color: #707070;
}

.chili-image {
  width: 60%;
  height: 60%;
  object-fit: contain;
  position: absolute;
  right: 25px;
  top: 25%;
  transform: scaleX(-1.05);
  z-index: 1;
}

.blob {
  height: 60%;
  width: 60%;
  position: absolute;
  right: 15px;
  top: 35%;
  z-index: 0;
  transform: rotate(360deg);
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .main__image {
    width: 100%;
  }

  .main__input {
    width: 80%;
  }

  .header__content {
    z-index: 0;
  }

  .main__content {
    width: 100%;
  }

  .input__icon {
    right: 20%;
  }

  .input-wrapper {
    margin-bottom: 2em;
  }
}

/* Main Images */
.main__images {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-bottom: 3rem;
}

.custom-shape-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 90px;
  z-index: -1;
}

.custom-shape-divider-top .shape-fill {
  fill: #fbe5d0;
}

@media screen and (max-width: 768px) {
  .main__images {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  .image1-container,
  .image2-container,
  .image3-container {
    margin-bottom: 2em;
  }

  .custom-shape-divider-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
    z-index: -1;
  }
}

/* Cards */

.card-section {
  position: relative;
  padding-top: 3rem;
}

.card1 {
  position: relative;
}

.section-heading {
  color: var(--headings-color);
  position: absolute;
  top: -12%;
  left: -5%;
  font-size: 1.8rem;
  font-weight: 600;
}

.card__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
}

.chevron-icon {
  position: absolute;
  right: 2%;
  top: 50%;
  transition: 50ms transform ease-out;
  cursor: pointer;
}

.chevron-icon:hover {
  transform: scale(1.05);
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  max-height: 75rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 10px 10px #dbd7d7;
  margin: 2rem 0 2rem 0;
}

.card__image {
  max-width: 25rem;
  max-height: 25rem;
  padding: 2.5rem;
  margin-left: 0.3rem;
}

.card__image1 {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card__body {
  margin: 0 2.5rem 1rem 2.5rem;
}

.card__body h5 {
  margin-left: 0;
  font-weight: 500;
  font-size: 1.6rem;
}

.fas {
  margin-bottom: 1rem;
  color: var(--color-accent);
}

.card__heading,
.card__price {
  margin-bottom: 1rem;
}

.card__price {
  display: block;
  font-weight: 500;
}

.card__button {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 16px;
  font-size: 1.6rem;
  background-color: var(--color-accent);
  border: 0;
  box-shadow: 0 5px 5px #dbd7d7;
  font-weight: 500;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: transform 100ms ease-out;
}

.card__button:hover {
  transform: scale(1.05);
}

.card__button--active {
  background-color: #ffffff;
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
  box-shadow: none;
}

.cta-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews {
  font-size: 1.2rem;
  padding: 0.5rem;
}

@media screen and (max-width: 768px) {
  .card__list {
    flex-direction: column;
  }

  .chevron-icon {
    display: none;
  }

  .section-heading {
    top: -12%;
  }

  .disText {
    z-index: 2;
  }
}

.disText {
  z-index: 2;
}

.second-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0 0 0;
  margin-top: 5rem;
}

.second-main h5 {
  margin-left: 0;
}

.noodles {
  width: 200px;
  height: 200px;
  position: absolute;
  left: -7%;
  z-index: 2;
}

.content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bike {
  width: 100px;
  height: 100px;
  margin-top: 2.5rem;
}

.map {
  width: 100px;
  height: 100px;
  margin-top: 2.5rem;
}

.pics {
  width: 60px;
  height: 60px;
  margin-top: 2.5rem;
  width: 100%;
  object-fit: cover;
}

.sub-text {
  font-size: 1.7rem;
  color: #ff0000;
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.second-heading {
  color: var(--headings-color);
  text-align: center;
  padding-top: 2rem;
}

.container-second {
  position: relative;
  background-color: var(--color-secondary);
}

.noodles {
  position: absolute;
  left: -7%;
  height: 80%;
}

@media screen and (max-width: 768px) {
  .second-main {
    flex-direction: column;
  }

  .content1,
  .content2,
  .content3 {
    margin-bottom: 5rem;
  }

  .bike,
  .map {
    margin-top: 1.5rem;
    width: 65px;
    height: 65px;
  }
  .noodles {
    top: 0;
  }

  .pics {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .noodles {
    height: 30%;
    left: -120px;
  }
}

/* fifth layer */
.container5th {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-secondary);
  padding-top: 4rem;
}

.c51 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.mb-container {
  margin-top: 3rem;
}

.mobile__text {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}

.mobile1 {
  width: 350px;
  height: 350px;
  object-fit: contain;
  transform: rotate(-5deg);
}

.mobile2 {
  width: 350px;
  height: 350px;
  object-fit: contain;
  transform: rotate(5deg);
}

.video__text {
  color: var(--headings-color);
  font-size: 1.6rem;
  font-weight: 500;
}

.video {
  width: 50px;
  height: 50px;
  margin-right: 1em;
  cursor: pointer;
  transition: transform 150ms ease-out;
}

.video:hover {
  transform: rotate(90deg);
}

.store-c {
  width: 200px;
  height: 200px;
  margin-top: 4rem;
}

.store {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .c51 {
    margin-top: 0;
  }

  .container5th {
    flex-direction: column;
    padding-top: 2rem;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .mobile2 {
    position: absolute;
    width: 350px;
    height: 350px;
    object-fit: contain;
    top: 0px;
    left: 30%;
    transform: rotate(3deg);
  }

  .mobile1 {
    position: absolute;
    width: 350px;
    height: 350px;
    object-fit: contain;
    left: 0;
    top: 23rem;
    left: 19%;
    z-index: 1;
  }

  .c51 {
    position: absolute;
    top: 65rem;
  }
}

@media screen and (max-width: 425px) {
  .mobile1 {
    left: -15px;
  }
  .mobile2 {
    left: 40px;
  }
}

/* Footer */

footer {
  background-color: #e4e4e4;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding-top: 2.5rem;
}

.ft1,
.ft2 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #3a3a3a;
}

.ft1s,
.ft2s {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: #707070;
  cursor: pointer;
}

.ft1s:hover,
.ft2s:hover {
  color: #ff0000;
}

.socials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sicons {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  cursor: pointer;
}

.logo-container__footer {
  align-self: center;
  cursor: pointer;
}

.copyrp {
  text-align: center;
  color: #707070;
}

.slinks {
  color: #3a3a3a;
}

@media screen and (max-width: 768px) {
  footer {
    position: relative;
  }

  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 100rem;
  }

  .ft2 {
    margin-top: 2em;
  }

  .footer__text1,
  .footer__text2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .slinks {
    display: none;
  }

  .copyrp {
    position: absolute;
    top: 167rem;
    right: 20%;
    left: 20%;
    font-size: 1.4rem;
  }
}
