*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

:root {
  --color-primary: #fbe5d0;
  --color-secondary: #fbecef;
  --color-accent: #ffbb24;
  --color-nav: #f8d8c7;
  --headings-color: #597387;
}

body {
  background-color: var(--color-primary);
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Navbar */

a {
  text-decoration: none;
  color: #000000;
  letter-spacing: 1px;
}

.nav__links a:hover {
  color: #ff0000;
}

.navbar {
  display: flex;
  background-color: var(--color-nav);
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
}

.navbar img {
  margin-top: 0.5rem;
  width: 100%;
  max-width: 100px;
}

.nav__links {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

.nav__links li {
  list-style: none;
  font-size: 1.6rem;
  font-weight: 500;
}

.account {
  color: var(--headings-color);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line1 {
  width: 25px;
  height: 3px;
  background-color: var(--headings-color);
  margin: 5px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.hamburger .line2 {
  width: 16px;
  height: 3px;
  background-color: var(--headings-color);
  margin: 5px;
  border-radius: 2px;
  transition: 0.3s ease;
}

.hamburger .line3 {
  width: 8px;
  height: 3px;
  background-color: var(--headings-color);
  margin: 5px;
  border-radius: 2px;
  transition: 0.3s ease;
}

.toggle .line1 {
  width: 25px;
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  width: 25px;
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 768px) {
  body {
    background-color: var(--color-primary);
    overflow-x: hidden;
  }

  .nav__links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: var(--color-nav);
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 500ms ease-in;
    padding: 2em 7em 10em 7em;
    z-index: 5;
  }

  .empty-list {
    display: none;
  }

  .nav__links li {
    opacity: 0;
  }

  .navbar .hamburger {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .display-off {
    display: none;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

/* Main Body */

h2 {
  color: var(--color-accent);
  display: inline-block;
  font-size: 4rem;
}

h4 {
  display: inline-block;
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
  margin-left: 1em;
}

textarea:focus,
input:focus {
  outline: none;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main__image {
  flex-grow: 1;
}

.main__content {
  flex-grow: 0.5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.header__content {
  margin: 1.5rem;
}

.featured-image {
  width: 100%;
  object-fit: cover;
  height: 40vh;
  opacity: 1;
}

.main__input {
  position: relative;
  display: block;
  border-radius: 10px;
  border: 1px solid #ffffff;
  padding: 1em 2em;
  margin: 1em 1em;
  min-width: 80%;
  font-size: 1.6rem;
  box-shadow: 0px 8px 10px #dbd7d7;
}

.input__icon {
  position: absolute;
  right: 20%;
  top: 73%;
  cursor: pointer;
}

.main__input::placeholder {
  color: #707070;
}

.chili-image {
  width: 60%;
  height: 60%;
  object-fit: contain;
  position: absolute;
  right: 0%;
  top: 18%;
  transform: scaleX(-1.05);
  z-index: -1;
}

.blob {
  height: 60%;
  width: 60%;
  position: absolute;
  right: 0%;
  top: 30%;
  z-index: -2;
  transform: rotate(360deg);
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .main__image {
    width: 100%;
  }

  .main__input {
    width: 80%;
  }

  .header__content {
    z-index: 2;
  }

  .main__content {
    width: 100%;
    align-items: flex-start;
    overflow-x: hidden;
  }
}
